<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Places</h1>
  <div class="container">
    <form action="/places" method="post" id="placeForm">
      <input id="newCity" name="newCity" type="text" required="true" placeholder="City">
      <input id="newState" name="newState" type="text" placeholder="State or Country">
      <button type="submit">Submit</button>
      <div class="container">
      <textarea rows="4" cols="30" name="newDescription" form="placeForm" placeholder="Enter a description here!"></textarea>
    </div>
  </div>
    </form>
  </body>
</html>
