<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You done deleted everything!</h1>
    <p><a href="/places">Go home.</a></p>
  </body>
</html>
